<form action="/records/{{record._id}}/edit" method="POST">
  類別:<select name="category" required>
    <option value="{{record.category}}" selected disabled hidden>
      {{record.category}}
    </option>
    {{#each array}}
    　<option value="{{this}}">{{this}}</option>
    {{/each}}　
  </select>
  日期：<input type="date" name="date" value="{{record.date}}" required>
  名稱：<input type=" text" name="name" value="{{record.name}}" required>
  金額：<input type=" number" name="amount" value="{{record.amount}}" required>
  <button type="submit" class="box border rounded">Save</button>
</form>
<button type="button" class="btn btn-dark"><a class="text-white" href="/"
    style="text-decoration: none; margin: 0 auto;">back</a></button>