<form action="/records/{{record._id}}/edit" method="POST">
  類別:<select name="category" required>
    <option value="{{record.category}}" selected disabled hidden>
      {{record.category}}
    </option>
    　<option value="home">home</option>
    　<option value="transportation">transportation</option>
    　<option value="entertainment">entertainment</option>
    　<option value="food">food</option>
    <option value="other">other</option>
  </select>
  日期：<input type="date" name="date" value="{{record.date}}" required>
  名稱：<input type=" text" name="name" value="{{record.name}}" required>
  金額：<input type=" number" name="amount" value="{{record.amount}}" required>
  <button type="submit">Save</button>
</form>
<a href="/">back</a>