<a href="./records/new">Create</a>
<form action="/search">
  <label for="category">Choose category:</label>
  <select name="category">
    <option value="home">家居物業</option>
    <option value="transportation">交通出行</option>
    <option value="entertainment">休閒娛樂</option>
    <option value="food">餐飲食品</option>
    <option value="other">其他</option>
  </select>
  <input type="submit" value="Submit" style="display: inline;">
</form>
<table>
  <tr>
    <td>類別</td>
    <td>日期</td>
    <td>名稱</td>
    <td>金額</td>
  </tr>
  {{#each records}}
  <tr>
    <td>{{this.category}}</td>
    <td>{{this.date}}</td>
    <td>{{this.name}}</td>
    <td class="amount">{{this.amount}}</td>
    <td><a href="./records/{{ this._id }}/edit">edit</a></td>
    <td>
      <form action="./records/{{ this._id }}/delete" method="POST" style="display: inline;">
        <button type="submit">delete</button>
      </form>
    </td>
  </tr>
  {{/each}}
</table>
<div>
  <span>支出總金額</span>
  <span id='total-amount'></span>
</div>
<a href="/">back</a>