<a href="./records/new">Create</a>
<table>
  <tr>
    <td>類別</td>
    <td>日期</td>
    <td>名稱</td>
    <td>金額</td>
  </tr>
  {{#each records}}
  <tr>
    <td>{{this.category}}</td>
    <td>{{this.date}}</td>
    <td>{{this.name}}</td>
    <td>{{this.amount}}</td>
    <td><a href="./records/{{ this._id }}/edit">edit</a></td>
    <td>
      <form action="./records/{{ this._id }}/delete" method="POST" style="display: inline;">
        <button type="submit">delete</button>
      </form>
    </td>
  </tr>
  {{/each}}
</table>